body {
    background-color: white;
    background-position: center;
    font-family: Verdana;
}

h1 {
    color: white;
    font-size: 70px;
}
p {
    font-size: 15px;
    font-weight: bold;
}

#navbar {
    text-align: center;
    background-image: url(resources/building.png);
    background-position: center;
    background-repeat: no-repeat;
    }

a {
    font-weight: bold;
    color: white;
    font-size: 15px;
    
}
#middle {
    background-color: white;
    text-align: center;
    margin-top: 20px;
}
h2 {
    font-weight: bold;
    font-size: 35px;
}
h3 {
    font-size: 25px;
    letter-spacing: -1px; 
}
#desing {
    background-image: url(resources/building.png);
    background-position: center;
    text-align: center;
    color: white;
}
#bottom {
    text-align: center;
}
    
#footer {
    background-image: url(resources/building.png);
    text-align: left;
    color: white;
}
